[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aerich = "==0.5.3"
sanic = "==21.3.4"
tortoise-orm = "==0.17.2"

[dev-packages]

[requires]
python_version = "3.7"
